<!-- Button trigger modal -->
<button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#editAuthor-{{ author.id }}">
    编辑
</button>
<!-- Modal -->
<div class="modal fade" id="editAuthor-{{ author.id }}" tabindex="-1" role="dialog"
     aria-labelledby="editPublishLabel-{{ author.id }}">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="editTaskLabel-{{ author.id }}">编辑作者</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="update_author_form_{{ author.id }}">
                    <input type="hidden" name="id" value="{{ author.id }}">
                    {% csrf_token %}

                    <div class="form-group row">
                        <label for="" class="col-md-4 col-form-label text-md-right">姓名</label>
                        <div class="col-md-6">
                            <input type="text" maxlength="32" class="form-control" name="name" required
                                   autocomplete="off"
                                   placeholder="请输入作者姓名" value="{{ author.name }}">
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="" class="col-md-4 col-form-label text-md-right">年龄</label>
                        <div class="col-md-6">
                            <input type="number" min="1" name="age" class="form-control" required
                                   autocomplete="off"
                                   placeholder="请输入作者年龄" value="{{ author.age }}">
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="" class="col-md-4 col-form-label text-md-right">手机号码</label>
                        <div class="col-md-6">
                            <input type="tel" maxlength="11" name="mobile" class="form-control" required
                                   autocomplete="off"
                                   placeholder="请输入手机号码" value="{{ author.mobile }}">
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="" class="col-md-4 col-form-label text-md-right">生日</label>
                        <div class="col-md-6">
                            <input type="date" name="birthday" class="form-control" required
                                   autocomplete="off"
                                   placeholder="请选择生日" value="{{ author.birthday|date:'Y-m-d' }}">
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="" class="col-md-4 col-form-label text-md-right">简介</label>
                        <div class="col-md-6">
                            <textarea name="desc" class="form-control" autocomplete="off">{{ author.desc }}</textarea>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" data-id="{{ author.id }}" class="update_author btn btn-primary">保存</button>
                <button type="button" class="btn btn-default btn-raised" data-dismiss="modal">取消</button>
            </div>
        </div>
    </div>
</div>